.header {
  display:flex;
  justify-content:space-between;
  width:100%;
  height:70px;
  background-color:black;
  color:white;
}
.blanc1 {
background-color:white;
font-size: 30px;

}
.menuderoulant {
  background-color: white;
  height:100%;
  width:70%;
  opacity:50%;
  font-family:Helvetica;

}
.photo1 {
background-color: white;
height:643px;
width:100%;
}

html, body{
  margin:0;
  padding:0;
  background-color:#F5F6F6;
}

#paul {
  font-size: 30px;
  font-family:Helvetica;
}

.photo2 {
  background-color:white;
  height: 730px;

}
#alice {
  font-size:30px;
  font-family:Helvetica;
}
#burger {
  font-size:50px;
  font-family:Helvetica;
}
#bobun2
{
  font-size: 50px;
  font-family: Helvetica;
}
#phrase1{
  font-size: 50px;
  font-family:Helvetica;
}
#titre{
  margin-top:1px;
}
.burgé {
  width:100%;
}
.large {
  width:100%;
}
.menu {
  margin-left:2px;
  margin-top:2px;
}
#gras1 {
  font-weight:bolder;
}
#gras2 {
  font-weight:bolder;
}
